* {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 700;
} 

#container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
}

td {
    background-color: rgb(9, 148, 255);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    direction: rtl;
    text-align: center;
}

td img {
    width: 30px;
}

#table-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    min-height: 500px;
    width: 49%;
    border-radius: 5px;
    box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.37);
}

#table-container section {
    position: absolute;
    bottom: 0%;
    margin: 10px;
}

#table-container section h4 {
    display: inline;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    color: red;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 49%;
}

.card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.37);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(56, 185, 255) 50%, rgba(255,255,255,1) 100%);
    border-radius: 10px ;
    padding: 5px;
    text-align: center;
    margin: 3px;
    max-width: 200px;
    height: 200px;
}
.card-div:hover{
    cursor: pointer;
}

#cards-container div:nth-of-type(1){
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(49, 49, 49) 50%, rgba(255,255,255,1) 100%);
}

.cloud-image {
    width: 60%;
}
